.slider-item{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    }
    .slider-item .slider-image img{
    margin: 0 auto;
    /* width: 100%; */
    height: 100%;
    }
    .slider-item .slider-main-detail{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    }
    .slider-item:hover .slider-main-detail{
    background-color: #dbeeee !important;
    }
    .slider-item .price{
    float: left;
    margin-top: 5px;
    }
    .slider-item .price h5{
    line-height: 20px;
    margin: 0;
    }
    .detail-price{
    color: #219FD1;
    }
    .slider-item .slider-main-detail .rating{
    color: #777;
    }
    .slider-item .rating{
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
    }
    .slider-item .btn-add{
    width: 50%;
    float: left;
    border-right: 1px solid #E1E1E1;
    }
    .slider-item .btn-details{
    width: 50%;
    float: left;
    }
    .controls{
    margin-top: 20px;
    }
    .btn-info,.btn-info:visited,.btn-info:hover{
    background-color: #21BBD8;
    border-color: #21BBD8;
    }
    .btn-info{
    margin-left:5px;
    }
    .slider-main-detail:hover{
    background-color: #dbeeee !important;
    }
    .AddCart{
    margin: 0px;
    padding:5px;
    border-radius:2px;
    margin-right:10px;
    }
    .review {
    margin-bottom: 5px;
    padding-top:5px;
    }